body {
  background-color: #9b3896;
}

heart {
font-size: 7em;
color: #f994a6;
position: relative;
top: -20px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

h2 {
  border: solid 4px;
  border-radius: 15px;
  background-color: #333;
  color: #f994a6;
  padding: 5px;
  margin: 0;
  text-align: center;
  border-color: #f994a6;
  z-index: 69;
}
